<?xml version="1.0"?>
<configuration>
	<configSections>
      <section name="Mtelligent" type="Mtelligent.Configuration.MtelligentSection, Mtelligent.Configuration"/>
  </configSections>
  <Mtelligent>
    <web useSession="true" captureAllRequests="false">
    	<cookie name="tracker" domain="contoso.com" expires="365"/>
    </web>
    <data providerType="Mtelligent.Data.MtelligentRepository, Mtelligent.Data" />
    <cohorts>
      <cohort name="All Users" TypeName="Mtelligent.Entities.Cohorts.AllUsersCohort, Mtelligent.Entities" AllowNew="false"/>
      <cohort name="All Authenticated Users" TypeName="Mtelligent.Entities.Cohorts.AuthenticatedUsersCohort, Mtelligent.Entities" AllowNew="false"/>
      <cohort name="Custom Role Cohort" TypeName="Mtelligent.Entities.Cohorts.RoleCohort, Mtelligent.Entities" AllowNew="true"/>
      <cohort name="Custom First Visit Date Cohort" TypeName="Mtelligent.Entities.Cohorts.FirstVisitCohort, Mtelligent.Entities" AllowNew="true"/>
      <cohort name="Custom Referrer Cohort" TypeName="Mtelligent.Entities.Cohorts.ReferrerCohort, Mtelligent.Entities" AllowNew="true"/>
      <cohort name="Custom Landing Url Cohort" TypeName="Mtelligent.Entities.Cohorts.LandingUrlCohort, Mtelligent.Entities" AllowNew="true"/>
      <cohort name="Custom Goal Cohort" TypeName="Mtelligent.Entities.Cohorts.GoalCohort, Mtelligent.Entities" AllowNew="true"/>
      <cohort name="Custom Experiment Segment Cohort" TypeName="Mtelligent.Entities.Cohorts.SegmentCohort, Mtelligent.Entities" AllowNew="true"/>
    </cohorts>
  </Mtelligent>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
