@model IEnumerable<Mtelligent.Entities.Cohort>

@{
    var counter=0;
}
<div class="content">
  <div class="row">

    <h1>Cohorts</h1>
    <p>Cohorts define segments of users for which you can target experiments or compare conversion rates.</p>

    @if (Model.ToList().Count == 0)
    {
        <div class="alert alert-info">You currently have not configured any cohorts. Click "Add Cohort" to add a cohort.</div>
    }
    else
    {
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>System Name</th>
                <th>Type</th>
                <th>&nbsp;</th>
            </tr>

        @foreach (var cohort in Model)
        {
            counter++;
            <tr>
                <td>@cohort.Name</td>
                <td>@cohort.SystemName</td>
                <td>@cohort.TypeName</td>
                <td>
                    @if (counter > 2)
                    {
                        <a href="/Cohorts/Update?Id=@cohort.Id" class="btn btn-primary btn-lg active" role="button">Edit</a>
                    }
                </td>
            </tr>
            
        }
        </table>

    }

    <a href="/Cohorts/Add" class="btn btn-primary btn-lg active" role="button">Add Cohort</a>
  </div>
</div>