@model IEnumerable<Mtelligent.Dashboard.Web.ViewModels.CustomCohortPropertyInfo>

@{
    ViewBag.Title = "Questions";
    Layout = "";
}

@foreach (var item in Model)
{

        <div class="form-group">
        <label class="col-sm-2 control-label" for="prop-@item.Name">@item.DisplayName</label>
        <div class="col-sm-10">
                <input class="form-control" data-val="@item.Required" data-val-required="The @item.DisplayName field is required." id="prop-@item.Name" name="prop-@item.Name" type="text" value="@item.Value">
                <span class="field-validation-valid" data-valmsg-for="prop-@item.Name" data-valmsg-replace="true"></span>
        </div>
        </div>
}

