@model IEnumerable<Mtelligent.Entities.Experiment>

<div class="content">
  <div class="row">

    <h1>Experiments</h1>
    <p>Experiments allow you to try out a feature in your application and understand it's impact.</p>

    @if (Model.ToList().Count == 0)
    {
        <div class="alert alert-info">You currently have not configured any experiments. Click "Add Experiment" to add an experiment.</div>
    }
    else
    {
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>System Name</th>
                <th>Cohort</th>
                <th>Segments</th>
                <th>&nbsp;</th>
            </tr>

        @foreach (var experiment in Model)
        {
            <tr>
                <td>@experiment.Name</td>
                <td>@experiment.SystemName</td>
                <td>@experiment.TargetCohortName</td>
                <td>@experiment.SegmentCount</td>
                <td><a href="/Experiments/Update?Id=@experiment.Id" class="btn btn-primary btn-lg active" role="button">Edit</a></td>
            </tr>
            
        }
        </table>

    }

    <a href="/Experiments/Add" class="btn btn-primary btn-lg active" role="button">Add Experiment</a>
  </div>
</div>