@{
    ViewBag.Title = "Home Page";
}

<div class="content">
      <div class="row">
    <h1>Dashboard</h1>

          <p class="lead">The dashboard will be built out last. It will contain basic reporting for experiments and goals.</p>

          <p>Check back later for more details and links.</p>
    </div>
</div>