@model IEnumerable<Mtelligent.Entities.Site>

<div class="content">
  <div class="row">

    <h1>Sites</h1>
    <p>Sites allow you to group urls together for simpler reporting. They are optional but useful if you are running multiple sites.</p>

    @if (Model.ToList().Count == 0)
    {
        <div class="alert alert-info">You currently have not configured any sites. Click "Add Site" to add a site.</div>
    }
    else
    {
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Number of Urls</th>
                <th>&nbsp;</th>
            </tr>

        @foreach (var site in Model)
        {
            <tr>
                <td>@site.Name</td>
                <td>@site.Urls.Count</td>
                <td><a href="/Sites/Update?Id=@site.Id" class="btn btn-primary btn-lg active" role="button">Edit</a></td>
            </tr>
            
        }
        
            </table>
        
    }

      <a href="/Sites/Add" class="btn btn-primary btn-lg active" role="button">Add Site</a>

  </div>
</div>